
.section.apps {
    flex-direction: column;
    background-color: black;
    position: absolute;
    width: 100%;
    padding: 2em;
  }
  .apps-text {
    flex: 1 1 50%;
    color: white;
   
    align-self: center;
    
  }
  .apps-header {
  
  }
  .apps-caption {
 
    width: 50vw;
    padding-top: 2em;
    text-align: center;
  }
  
  .apps sup {
   
  }
  .apps-img {
    width: 50vw;
  }
  
  .apps-feature {
    display: flex;
    margin-top: 10%;
  }
  @media only screen and (max-width: 768px) {
    .apps-feature {
      display: block;
      width: 100vw;
      
    }
  }
  .apps-feature-cell {
    width: 100%;
    
  }
  .app-feature-img-div {
    width: 25vw;
  }

  .apps-feature-img {
    width: 3vw;
    height: 3vw;
    
    margin-top: 20%;
  }
  @media only screen and (max-width: 768px) {
    .apps-feature-img {
      width: 7vw;
      height: 7vw;
      margin-top: 20%;
    }
    .app-feature-img-div {
        width: 65vw;
    }
  }
  .apps-feature-header {
    width: 25vw;
  }
  .apps-feature-caption {
    width: 25vw;
   
    padding-top: 2em;
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .apps-feature-caption {
      width: 65vw;
      
      padding-top: 2em;
      text-align: center;
    }
    .apps-feature-header {
        width: 65vw;
    }
  }
  