.Landing {
    
    background-color: black;
    text-align: center;
    position: relative;
  }
  .Stack {
    width: 100vw;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  
  .Header {
      font-weight: 700;
      margin: auto;
      text-align: center;
      margin-top: 0.5em;
    font-size: 96px;
    color: white;
    /* background: -webkit-linear-gradient(#5D43D7, #65CAFA);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
  }
  @media only screen and (max-width: 768px) {
    .Header {
        margin-top: 0.5em;
        font-size: 56px;
        
    }
    .subheader {
       
    }
  }
  .subheader {
    margin: auto;
    font-weight: 700;

    text-align: center;
    margin-top: 1.0em;
    font-weight: normal;
    color: white;
    opacity: 0.6;
}
  .Land {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
  }
 
  
